* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f0f0f0;
}
h3 a {
    text-decoration: none;
    color: black;
}
.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.form-group, .contact-details, .shipping-details {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"], input[type="number"], input[type="date"], select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.contact-details h3, .shipping-details h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    input[type="text"], input[type="number"], input[type="date"], select, button[type="submit"] {
        padding: 8px;
        font-size: 14px;
    }
}
